body {
    display: flex;
    flex-direction: column;
    align-items: center;
    colour: #fff;
    background-color: #000;
}

.hidden {
  display: none;
}

div {
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.markdown-body {
    background-color: #fff;
    color: #000;
}
