body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
  display: none;
}

div {
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.md {
    background-color: #fff;
    color: #000;
}